extend layout
//- add id attributes 
block content 
    head
    title New Book
    h1 New Book
    form(method='POST', action='/books/new')
        include form
    
        p
            input(type='submit', value='Create New Book')
        p
            a.button(href='/books/') Cancel
